<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gamestop-sfm-functions-dng0hqfqdrbycveg.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e81cac15-7128-4116-a416-bc57e51fdbb8/resourceGroups/RSG-RCGPON-ST10498795-SANORTH/providers/Microsoft.Web/sites/gamestop-sfm-functions</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://gamestop-sfm-functions-dng0hqfqdrbycveg.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>